In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/sample_data/Salary_Data.csv')

In [ ]:
data

    emp id  YearsExperience  Salary
0      101              1.1   39343
1      102              1.3   46205
2      103              1.5   37731
3      104              2.0   43525
4      105              2.2   39891
5      106              2.9   56642
6      107              3.0   60150
7      108              3.2   54445
8      109              3.2   64445
9      110              3.7   57189
10     111              3.9   63218
11     112              4.0   55794
12     113              4.0   56957
13     114              4.1   57081
14     115              4.5   61111
15     116              4.9   67938
16     117              5.1   66029
17     118              5.3   83088
18     119              5.9   81363
19     120              6.0   93940
20     121              6.8   91738
21     122              7.1   98273
22     123              7.9  101302
23     124              8.2  113812
24     125              8.7  109431
25     126              9.0  105582
26     127              9.5  116969
27     128              9.6  112635
28     129             10.3  122391
29     130             10.5  121872

In [ ]:
x = data[['YearsExperience']]

In [ ]:
y = data.Salary

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
model.score(x_test,y_test)

0.9381869389645824

In [ ]:
model.predict(x_test)

array([ 55051.02720314,  82356.71292925, 111612.80477865, 116488.82008688,
       117464.02314853,  36522.16903186])