In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("/content/sample_data/House-Price.csv")

In [ ]:
data.head()

   price  resid_area  air_qual  room_num  ...  rainfall  bus_ter     parks  Sold
0   24.0       32.31     0.538     6.575  ...        23      YES  0.049347     0
1   21.6       37.07     0.469     6.421  ...        42      YES  0.046146     1
2   34.7       37.07     0.469     7.185  ...        38      YES  0.045764     0
3   33.4       32.18     0.458     6.998  ...        45      YES  0.047151     0
4   36.2       32.18     0.458     7.147  ...        55      YES  0.039474     0

[5 rows x 19 columns]

In [ ]:
data.shape

(506, 19)