In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/sample_data/House-Price.csv')

In [ ]:
data.head()

   price  resid_area  air_qual  room_num  ...  rainfall  bus_ter     parks  Sold
0   24.0       32.31     0.538     6.575  ...        23      YES  0.049347     0
1   21.6       37.07     0.469     6.421  ...        42      YES  0.046146     1
2   34.7       37.07     0.469     7.185  ...        38      YES  0.045764     0
3   33.4       32.18     0.458     6.998  ...        45      YES  0.047151     0
4   36.2       32.18     0.458     7.147  ...        55      YES  0.039474     0

[5 rows x 19 columns]

In [ ]:
data['price'].fillna(data['price'].mean(),inplace=True)

In [ ]:
data['resid_area'].fillna(data['resid_area'].mean(),inplace=True)

In [ ]:
data['air_qual'].fillna(data['air_qual'].mean(),inplace=True)

In [ ]:
data['room_num'].fillna(data['room_num'].mean(),inplace=True)

In [ ]:
data['age'].fillna(data['age'].mean(),inplace=True)

In [ ]:
x = data[['resid_area','air_qual','room_num','age']]

In [ ]:
data.isnull().count()

price          506
resid_area     506
air_qual       506
room_num       506
age            506
dist1          506
dist2          506
dist3          506
dist4          506
teachers       506
poor_prop      506
airport        506
n_hos_beds     506
n_hot_rooms    506
waterbody      506
rainfall       506
bus_ter        506
parks          506
Sold           506
dtype: int64

In [ ]:
y = data.price

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
regressor = KNeighborsRegressor(n_neighbors=21)

In [ ]:
regressor.fit(x_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=21, p=2,
                    weights='uniform')

In [ ]:
regressor.predict(x_test)

array([26.66666667, 25.70952381, 19.48571429, 26.41428571, 27.72380952,
       23.33333333, 18.89047619, 26.81428571, 27.25714286, 26.4952381 ,
       23.02857143, 26.18571429, 19.0952381 , 22.8047619 , 28.14761905,
       18.11428571, 23.1       , 27.8952381 , 23.1952381 , 24.11904762,
       28.46666667, 28.4047619 , 15.49047619, 14.26190476, 26.5952381 ,
       18.34285714, 15.06190476, 17.32857143, 26.07619048, 15.34285714,
       25.9952381 , 24.10952381, 20.27142857, 26.09047619, 26.83809524,
       25.46190476, 28.57619048, 18.86666667, 14.61904762, 27.09047619,
       15.61428571, 17.59047619, 18.43809524, 15.15238095, 26.73333333,
       28.4047619 , 19.18571429, 16.61904762, 22.75238095, 25.62380952,
       19.26190476, 21.65714286, 15.9047619 , 19.26190476, 18.78095238,
       27.54761905, 25.11428571, 19.03333333, 15.25714286, 22.09047619,
       16.86190476, 27.83333333, 23.92380952, 23.45714286, 28.33809524,
       15.52857143, 24.57619048, 29.1       , 18.03333333, 28.23333333,
       17.6       , 24.2952381 , 20.67142857, 20.94761905, 23.42380952,
       24.12857143, 19.9952381 , 14.16190476, 15.34285714, 22.53809524,
       24.83809524, 20.5       , 16.69047619, 19.48571429, 25.12857143,
       16.90952381, 17.13809524, 16.26190476, 15.11428571, 29.84761905,
       24.52857143, 21.80952381, 16.95238095, 14.74285714, 19.57142857,
       15.54285714, 13.6952381 , 15.15238095, 28.44761905, 20.9952381 ,
       15.72857143, 15.45238095])

In [ ]:
regressor.score(x_test,y_test)

0.29164085889901076